.pagination {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pagination_link {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 26px;
  text-decoration: none;
  color: #323c48;
  border: 1px solid #323c48;
  background-color: transparent;
}

.pagination_button {
  width: 70px;
}

.pagination_item {
  width: 30px;
  margin-left: 1px;
  margin-right: 1px;
}

.blocked {
  pointer-events: none;
  background-color: #f5f6fa;
  border-color: #f5f6fa;
  color: #7e8fa4;
}

.active,
.pagination_item:hover,
.pagination_button:hover {
  color: white;
  border-color: #445468;
  background-color: #445468;
}
