.button {
  display: block;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  background-color: white;
  border: solid 1px #7e8fa4;
  color: #323c48;
  padding: 5px;
  margin: 15px 0;
  width: auto;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: #445468;
  border-color: #445468;
  color: white;
}
