.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
  grid-gap: 40px;
  justify-items: center;
}

.cardLink {
  display: block;
  text-decoration: none;
  border: 1px solid transparent;
}

.cardLink:hover {
  border: 1px solid #445468;
}
