.filter_title {
  margin: 0;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #323c48;
  padding-bottom: 36px;
}

.filter_row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-family: OpenSans, sans-serif;
}

.filter_label {
  color: #323c48;
  font-weight: 600;
}
