.filter {
  min-width: 250px;
}

.filter-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}

.filter-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filter-price {
  font-size: 16px;
}

.filter-price input {
  width: 60%;
  line-height: 26px;
}

.filter-button {
  display: block;
  margin-top: 20px;
  border: none;
  background: grey;
  color: white;
  text-align: center;
  line-height: 30px;
  width: 100%;
  font-size: 14px;
}
