body {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

aside {
  flex-basis: 15%;
  flex-grow: 0;
  margin-left: 30px;
  margin-top: 30px;
}

main {
  flex-basis: 70%;
  flex-grow: 0;
}
